<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/simplegrid.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58399818-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Chris IJ Hwang</h1>
        <p>I am an experienced IT professional with deep passion about quantitative data analysis. In this page, I put some related tutorials, exercises, and some project I have been working on. Feel free to contact me if you have any questions at ih138 at columbie dot edu.</p>

        <p class="view"><a href="{{ site.baseurl }}">View My GitHub Profile</a></p>

      </header>
        <section>
