<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/simplegrid.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <![endif]-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58399818-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'],  ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="http://chrisijh.github.io">Chris IJ Hwang</a></h1>
       <p>I am an experienced IT professional with deep passion for quantitative
            analysis and big data. In this page, I organized some exercises,
            projects, and studies that I have worked on. The content of this site is just my own quick reference not a detailed friendly tutorial for everybody. However, if you have any questions, feel free to contact me at ih138 at columbia dot edu.</p>
        <p class="view"><a href="http://github.com/chrisijh">View My GitHub Profile</a></p>

        <hr>

<div class="piktowrapper-embed" pikto-uid="6777706-devenv" >
    <div class="pikto-canvas-wrap">
        <div class="pikto-canvas"></div>
    </div>
</div>
<script>
    (function(d){
        var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];
        if (d.getElementById(id)) { return;}
        js=d.createElement("script"); js.id=id; js.async=true;
        js.src="https://magic.piktochart.com/assets/embedding/embed.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>
  <hr>


    <h2>Contents</h2>

    <div class="grid grid-pad">
      <div class="col-1-1">
        <div class="content">
 

          <h3><a href="{{ base_url }}/bigdata/">Data Science/Machine Learning related</h3>
           <hr>
          <h3><a href="{{ base_url }}/qf/">Quantitative Finance Modeling and Analysis</h3>
          <hr>
          <h3><a href="{{ base_url }}/vs/">Visualization</h3>
          <hr>

          <h3><a href="{{ base_url }}/mf/">Math Finance</a></h3>
          <hr>
          <h3><a href="{{ base_url }}/others/">Others</a></h3>

        </div>
      </div>
    </div>

      </header>

      <section>
